// crystals

.crystal_yellow {
  background-color: #ffeb3b;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.crystal_red {
  background-color: #e53935;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.crystal_green {
  background-color: #43a047;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
